adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.0.0-cp37-abi3-manylinux_2_34_x86_64.whl#sha256=6392b1028ef17173abcea90c70e5509d90472ca47f7205a5ee7fd3d81c49451b
appdirs==1.4.4
apsw==3.49.2.0
arandr==0.1.11
attrs==25.3.0
autocommand==2.2.2
beautifulsoup4==4.13.4
black==25.1.0
Brotli==1.1.0
brotlicffi==1.1.0.0
CacheControl==0.14.3
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
coverage==7.10.4
cryptography==45.0.5
css-parser==1.0.10
cssselect==1.2.0
dbus-python==1.4.0
Deprecated==1.2.18
dnspython==2.7.0
faust-cchardet==2.1.19
feedparser==6.0.11
filelock==3.18.0
gpg==2.0.0b25
gps==3.26.1
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
idna==3.10
ifaddr==0.2.0
inflate64==1.0.3
jaconv==0.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
lensfun==0.3.4
libfdt==1.7.2
libtorrent==2.0.11
libvirt-python==11.6.0
lit==20.1.0.dev0
lockfile==0.12.2
lxml==6.0.1
lxml_html_clean==0.4.2
Markdown==3.8.2
MarkupSafe==3.0.2
mechanize==0.4.10
meson==1.8.4
more-itertools==10.7.0
msgpack==1.0.5
multivolumefile==0.2.3
mypy_extensions==1.0.0
nanobind==2.8.0
netifaces==0.11.0
nftables==0.1
numpy==2.3.2
packaging==25.0
pathspec==0.12.1
pdftotext==2.2.2
pillow==11.3.0
platformdirs==4.3.8
psutil==7.0.0
py7zr==1.0.0
pybcj==1.0.6
pybind11==3.0.0
pycairo==1.28.0
pychm==0.8.6
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
Pygments==2.19.2
PyGObject==3.52.3
pykakasi==2.3.1.dev0
PyOpenGL==3.1.9
pyppmd==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.2
pyserial==3.5
PySide6==6.9.1
PySocks==1.7.1
pystache==0.6.5
python-dateutil==2.9.0
pywal==3.3.0
PyYAML==6.0.2
pyzstd==0.17.0
qutebrowser==3.5.1
ranger-fm==1.9.4
regex==2025.7.34
requests==2.32.5
scour==0.38.2
setuptools==80.9.0
sgmllib3k==1.0.0
shiboken6==6.9.1
shiboken6-generator==6.9.1
six==1.17.0
soupsieve==2.7
speedtest-cli==2.1.3
TBB==0.2
texttable==1.7.0
tinycss2==1.4.0
torbrowser-launcher==0.3.7
tqdm==4.67.1
typing_extensions==4.14.1
ufw==0.36.2
unrardll==0.1.7
urllib3==2.5.0
webencodings==0.5.1
wheel==0.45.1
wrapt==1.17.3
xxhash==3.5.0
yt-dlp==2025.8.20
zeroconf==0.147.0
zstandard==0.23.0
